<%- include('../partials/start') %>

	<main>
		<%- include('../partials/header') %>
		
		<section>
				<div class="container py-5">
					<h1>SpaceX Launches</h1>

					<div class="row align-items-center">
						<div class="col-lg-4 text-center">
							<img class="img-fluid" src="<%- launches.links.patch.small %>">
						</div>

						<div class="col-lg-8">
							<p><%- launches.details %></p>
						</div>
					</div>
				</div>
		</section>

		<% if (launches.links.youtube_id) { %>
			<section class="video padded">
				<div class="container text-center">
					<div class="video-wrapper">
						<iframe id="ytplayer"
							type="text/html"
							src="https://www.youtube.com/embed/<%- launches.links.youtube_id %>"
							frameborder="0">
						</iframe> 
					</div>
				</div>
			</section>
		<% } %>
	</main>

<%- include('../partials/end') %>
